
body { 
    background-color: #ddd; /* Background color */ 
    color: #222;            /* Foreground color used for text */ 
    font-family: Helvetica; 
    font-size: 14px; 
    margin: 0;              /* Amount of negative space around the outside of the body */ 
    padding: 0;             /* Amount of negative space around the inside of the body */ 
} 


#header { 
  background-color: #ccc; 
/*  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999)); */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FC70CE), color-stop(0.5, #FB2EB8), color-stop(0.5, #FB2EB8), to(#FA11AE));
  border-color: #666; 
  border-style: solid; 
  border-width: 0 0 1px 0; 
} 
#header h1 { 
    color: white; 
    font-size: 20px; 
    font-weight: bold; 
    margin: 0 auto; 
    padding: 10px 0; 
    text-align: center; 
    text-shadow: 0px 1px 0px #111;
    max-width: 160px; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
} 



/* SETTINGS STYLE FOR LISTS*/
#list ul { 
    list-style: none; 
    margin: 10px; 
    padding: 0; 
} 
#list ul li a { 
    background-color: #FFF; 
    border: 1px solid #999; 
    color: #222; 
    display: block; 
    font-size: 17px; 
    font-weight: bold; 
    margin-bottom: -1px; 
    padding: 12px 10px; 
    text-decoration: none; 
} 
#list ul li:first-child a { 
    -webkit-border-top-left-radius: 8px; 
    -webkit-border-top-right-radius: 8px; 
} 
#list ul li:last-child a { 
    -webkit-border-bottom-left-radius: 8px; 
    -webkit-border-bottom-right-radius: 8px; 
} 
#list ul li a:active, #list ul li a:hover { 
    background-color:blue; 
    color:white; 
} 





#content { 
    padding: 10px; 
    text-shadow: 0px 1px 0px #fff; 
} 
#content a { 
    color: blue; 
} 
#progress { 
    -webkit-border-radius: 10px; 
    background-color: rgba(0,0,0,.7); 
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    height: 80px; 
    left: 60px; 
    line-height: 80px; 
    margin: 0 auto; 
    position: absolute; 
    text-align: center; 
    top: 120px; 
    width: 200px; 
}

#header div.leftButton { 
    font-weight: bold; 
    text-align: center; 
    line-height: 28px; 
    color: white; 
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px; 
    position: absolute; 
    top: 7px; 
    left: 6px; 
    max-width: 50px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    border-width: 0 8px 0 14px; 
    -webkit-border-image: url(/images/back_button.png) 0 8 0 14; 
/*    -webkit-tap-highlight-color: rgba(0,0,0,0); */
    
}

#header div.leftButton.clicked { 
    -webkit-border-image: url(/images/back_button_clicked.png) 0 8 0 14; 
}


#header a{
  text-decoration:none;
  color: white;
}


/* index */


#index{
  margin:20px 0px 20px;
  padding:10px 0px 10px;
  text-align:center;  
  width:100%;
  display:block;
}

#index .box { 
  border: 0px;
  padding: 0px;
  margin-bottom:10px;
  float: left;
  width:50%;
}

.box p{
  margin:0px;
  padding:0px;
  color: #C70A88;
  font-size:18px;
  font-weight: bold; 
  text-shadow: 0px 1px 0px #eee;
  
}

#index img{
  width:115px;
  height:115px;
}



/* CALENDAR*/
.fancy ul { 
    list-style: none; 
    margin: 0;
    padding: 0; 
}

.fancy ul li{
  position: relative;
}

.fancy.inset ul{
  margin:10px;
}



.fancy ul li a{ 
    display: block; 
    font-size: 17px; 
    font-weight: bold; 
    padding: 20px 10px; 
    text-decoration: none;     
    text-shadow: white 0px 1px 1px;
    color: #C70A88;
    margin-left:60px;
} 
.fancy ul li a:active, .fancy ul li a:hover { 
    color:#650A83; 
} 


.fancy ul li:first-child .inner{ 
    -webkit-border-top-left-radius: 8px; 
    -webkit-border-top-right-radius: 8px; 
} 
.fancy ul li:last-child .inner{ 
    -webkit-border-bottom-left-radius: 8px; 
    -webkit-border-bottom-right-radius: 8px; 
} 


.fancy .thumb{
  float:left;
}

.fancy img.arrow{
  position:absolute;
  top:18px;
  right:0px;
}
.fancy .inner{
  min-height:60px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#FDFDFD)); 
  border-bottom: 1px solid #bbb;
  
}



/*CONTENT*/

.title{
/*  background:yellow;*/
  padding:5px 10px 5px;
  position:relative;
}

.title h2{
  font-size:18px;
  color: #C70A88;
  text-shadow: #CCC 1px 1px 1px;
  
}
.title small{
  font-size:13px;
  color:black;
}
img.rating{
  position:absolute;
  top:8px;
  right:10px;
/*  float:right;*/
  width:90px;
  height:auto;
}

.photo img{
  width:100%;

}
.article{
  padding:5px 10px 5px;

}
.navigation{
  margin:5px 10px 5px;
  text-align:center;
}
.prev{

  float:left;
}

.forward{

  float:right;
}