#header
  h1 Calendario
  .leftButton     
    a(href="/") Menu
  
#container  
  .fancy
    ul
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/content") Content A
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/content") Content B
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/content") Content C
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/content") Content D
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/content") Content E
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/content") Content F
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/content") Content G
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/content") Content H
          img.arrow(src="/images/chevron_black.png")
