#header
  h1 Calendario
  .leftButton     
    a(href="/") Menu
  
#container  
  #fancy
    ul
      li
        img.thumb(src="/images/theme/60.png")
        .inner
          a(href="about.html") About
          img.arrow(src="/images/chevron_circle.png")
      li
        img.thumb(src="/images/theme/60.png")
        .inner
          a(href="blog.html") Blog
          img.arrow(src="/images/chevron_circle.png")
      li
        img.thumb(src="/images/theme/60.png")
        .inner
          a(href="about.html") About
          img.arrow(src="/images/chevron_circle.png")
      li
        img.thumb(src="/images/theme/60.png")
        .inner
          a(href="blog.html") Blog
          img.arrow(src="/images/chevron_circle.png")
      li
        img.thumb(src="/images/theme/60.png")
        .inner
          a(href="about.html") About
          img.arrow(src="/images/chevron_circle.png")
      li
        img.thumb(src="/images/theme/60.png")
        .inner
          a(href="blog.html") Blog
          img.arrow(src="/images/chevron_circle.png")
      li
        img.thumb(src="/images/theme/60.png")
        .inner
          a(href="about.html") About
          img.arrow(src="/images/chevron_circle.png")
      li
        img.thumb(src="/images/theme/60.png")
        .inner
          a(href="blog.html") Blog
          img.arrow(src="/images/chevron_circle.png")          