#header
  h1 Calendario
#container  
  #fancy
    ul
      li
        img(src="/images/theme/60.png")
        .inner
          a(href="about.html") About
          img.arrow(src="/images/chevron_circle.png")
      li
        img(src="/images/theme/60.png")
        .inner
          a(href="blog.html") Blog
      li
        img(src="/images/theme/60.png")
        .inner
          a(href="about.html") About
      li
        img(src="/images/theme/60.png")
        .inner
          a(href="blog.html") Blog