
#header
  h1 Content
  .leftButton     
    a(href="/calendar") Back
  
#container
  .title 
    h2 this is a title this is a title this is a title
    small this is a small text
    img.rating(src="/images/theme/stars-3.png")
    
  .photo
    img(src="/images/theme/320x200.png")
    
  .navigation
    a(href="#")
      img.prev(src="/images/theme/prev.png")
    img(src="/images/theme/bullets.png")
    a(href="#")
      img.forward(src="/images/theme/forward.png")
      
  .article
    p This is an even longer text to describe the actual facts. This is an even longer text to describe the actual facts. This is an even longer text to describe the actual facts. This is an even longer text to describe the actual facts. This is an even longer text to describe the actual facts.
    

  .fancy.inset
    ul
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="blog.html") Invia email
          img.arrow(src="/images/chevron_circle.png")        
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="blog.html") Condividi su facebook
          img.arrow(src="/images/chevron_circle.png")
      
