
#header
  h1 Content
  .leftButton     
    a(href="/calendar") Back
  
#container
  .title 
    h2 this is a title
    small this is a small text
    img.rating(src="/images/theme/stars-3.png")
  .photo
    img(src="/images/theme/320x200.png")
  .article
    p This is an even longer text to describe the actual facts. This is an even longer text to describe the actual facts. This is an even longer text to describe the actual facts. This is an even longer text to describe the actual facts. This is an even longer text to describe the actual facts.
    