#header
  h1 Starsecrets


#index
  .box
    //a(href="/about")
    img(src="/images/theme/new.png")
    p Oggi
  .box
    //a(href="/about")
    img(src="/images/theme/new.png")
    p New
  .box
    //a(href="/about")
    img(src="/images/theme/top.png")
    p Top
  .box
    a(href="/calendar")
      img(src="/images/theme/calendar.png")
    p Calendario
  
    