#header
  h1 Index Page


#index.clearfix
  .box
    a(href="/list")
      img(src="/images/theme/icons/flickr_dark.png")
    p Flickr
  .box
    a(href="/list")
      img(src="/images/theme/icons/twitter_dark.png")
    p Twitter
  .box
    a(href="/list")
      img(src="/images/theme/icons/facebook_dark.png")
    p Facebook
  .box
    a(href="/list")
      img(src="/images/theme/icons/youtube_dark.png")
    p Youtube
  .box
    a(href="/list")
      img(src="/images/theme/icons/dribbble_dark.png")
    p Dribbble
  .box
    a(href="/list")
      img(src="/images/theme/icons/ffffound_dark.png")
    p Ffffound
  .box
    a(href="/list")
      img(src="/images/theme/icons/in_dark.png")
    p LinkedIn
  .box
    a(href="/list")
      img(src="/images/theme/icons/lastfm_dark.png")
    p LastFM
  
  
    