#header
  h1 Rosario Test
#container
  #links
    ul
      li
        a(href="/about") About
      li
        a(href="blog.html") Blog
    ul
      li
        a(href="about.html") About
      li
        a(href="blog.html") Blog
      li
        a(href="about.html") About
      li
        a(href="blog.html") Blog
    ul
      li
        a(href="/about") About
      li
        a(href="blog.html") Blog

