#header
  h1 List
  .leftButton     
    a(href="/") Index
  
#container  
  .fancy
    ul
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/page") Page A
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/page") Page B
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/page") Page C
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/page") Page D
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/page") Page E
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/page") Page F
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/page") Page G
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="/page") Page H
          img.arrow(src="/images/chevron_black.png")
