#container
  #header
    h1
      a(href="./") iPhone App aa
    #utility
      ul
        li
          a(href="about.html") About
        li
          a(href="blog.html") Blog
    #nav
      ul
        li
          a(href="about.html") About
        li
          a(href="blog.html") Blog
        li
          a(href="about.html") About
        li
          a(href="blog.html") Blog
  #content
    h2 About
    p nel mezzo del caming di nostra vita mi ritrovai in una selva oscura che la diretti via avea smarrita
    
    
      

