
#header
  h1 Page
  .leftButton     
    a(href="/list") Back
  
#container
  .title 
    h2 This is the description
    small and this is a small text
    img.rating(src="/images/theme/stars-3.png")
    
  .photo
    img(src="/images/theme/320x200.png")
    
  .navigation
    a(href="#back")
      img.prev(src="/images/theme/prev.png")
    img(src="/images/theme/bullets.png")
    a(href="#forward")
      img.forward(src="/images/theme/forward.png")
      
  .article
    p Rump pork belly beef ribs drumstick, venison frankfurter chicken ribeye shankle corned beef meatball boudin ball tip leberkäse. Short ribs bresaola pancetta ground round, andouille meatball sirloin. Bresaola pork chop shank biltong drumstick, chuck rump jerky jowl pancetta bacon tenderloin ball tip.
    
    
  .fancy.inset
    ul
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="#somewhere") Link
          img.arrow(src="/images/chevron_black.png")
      li
        .inner
          img.thumb(src="/images/theme/60.png")
          a(href="#somewhere") Link
          img.arrow(src="/images/chevron_black.png")
          
