#header
  h1 Settings
#container  
  #links
    ul
      li
        a(href="about.html") About
      li
        a(href="blog.html") Blog
      li
        a(href="about.html") About
      li
        a(href="blog.html") Blog